
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  color: #313E47;
  height: 100%;
  margin: 0px;
  padding:0px;
  width: 100%;
}

img {
  max-width: 100%;
}

/*div {
  border:  1px solid green ;
  margin: 10px ;
  padding: 10px ;
  border-radius: 10px ;
  box-shadow: 2px 2px 3px black
}
*/

/* NavBar*/

.navbar-transparent {
  background-color: #F7F7F7;
}
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #EB5F1E;
}

.navbar-header {
  background-color: transparent;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: #373737;
  background-color: #F7F7F7;
}

.container-fluid {
  border-radius: 0px;
  border-bottom: 0px;
}


/* header*/

header {
    text-align: center;
    color: #ffffff;
    background-attachment: scroll;
    background-image: url(image/fond.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.gradient {
  background: linear-gradient(to left, rgba(250,250,250,0.37), rgba(250,250,250,0.37));
}

h1 strong {
  color: #211b1b;
}

header .intro-text {
    padding-top: 200px;
    padding-bottom: 70px;
    color: #211b1b;
}

header .intro-text .intro-lead-in {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 20px;    
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
}

@media(min-width:800px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 10px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform:;
        
        font-size: 30px;
        font-weight: 700;
        line-height: 10px;
    }
}

.btn-primary {
    padding: 20px 30px;
    border-color: #EB5F1E ;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #EB5F1E   ;
}

.btn-primary:hover {
  background-color: #313E47 ;
  border-color: #EB5F1E ;
  color: #ffffff;

}


/* SECTION 1 */

section {
    padding: 100px 0px;
}


section h2.section-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}


/* SECTION 2 */

.margin-left {
  margin-left: 50px
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  color: #444;
  margin: 5px 0 20px 0;
  clear:both;
}
.box {
  width: 200px;
  height: 200px;
  border-radius: 7px;
  overflow: hidden;
  float: left;
  margin: 5px 10px 5px 5px;
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition:all 0.3s ease-in;  
   -moz-transition:all 0.3s ease-in;  
   -o-transition:all 0.3s ease-in;  
   transition:all 0.3s ease-in; 
}
.box h2 {
  font-size: 0.8em;
  font-weight:normal;
  font-size: 1em;  
  padding: 10px 20px 15px 20px;
  margin: 160px 0 0 0 ; 
  background: grey;
  -webkit-transition:margin-top 0.5s ease-in;  
  -moz-transition:margin-top 0.5s ease-in;  
  -o-transition:margin-top 0.5s ease-in;  
  transition:margin-top 0.5s ease-in; 
}
.box ul {
  font-size: 0.9em;
  list-style: none;
  margin: 0;
  padding: 0;
  background: grey;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 60px
}
.box:hover h2 {
  margin-top: 70px;
}

/* IMAGE DE FOND */

.v-b1 {
  background-image:url(image/b2.png);
}
.v-b2 {
  background-image:url(image/b3.png);
}
.v-m3 {
   background-image:url(image/b4.png);
}
.v-m4 {
  background-image:url(image/b5.png);
}
.v-b5 {
   background-image:url(image/b6.png);
}
.v-b6 {
  background-image:url(image/b7.png);
}

.bg-light-gray {
    background-color: white;
}

/* modification photos section 2 */ 

#gallery {
  margin: 20px;
  padding: 10px;
  list-style: none;
}

#gallery li {
  float: left;
  width: 100%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: black;
  box-shadow:  10px 10px 20px 5px grey;
  border-radius: 10px 10px 10px 10px
}

#gallery li a img {
  border-radius: 10px 10px 0px 0px;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
  color: #313E47;
}


/* SECTION 3 */

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #ffffff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.button {
  border-radius: 7px;
  background-color: #373737;
  width: 100px;
  border-color: #373737
  
}

.glyphicon-envelope  {
  color: #ffffff;
}


/* COMMUN */

.wrapper {
  height: 100px;
}

.wrapper-1 {
  margin-top: -50px;
}

.wrapper-2 {
  height: 100px;
}

.wrapper-3{
  height: 30px;
}

.wrapper-4{
  height: 50px;
}

.wrapper-5 {
  margin-top: -110px;
}

.wrapper-6 {
  height: 20px;
}

.container {
  max-width: 1000px;
  margin: 10px auto;
  padding: 100 10px;
}

.contenu {
  height: 100%;
  margin-bottom: 30px;
}


/* FOOTER */


div#colonne1 {
  float: left;
  margin-top: 30px;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

div#colonne2 {
  margin-top: 30px;
  float: right;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;

}

/* Grand écran */
.navigation {
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-end;
  background: #373737;
}

/* Écrans moyens */
@media all and (max-width: 800px) {
  .navigation {

  justify-content: space-around;
  background:  #373737;
  }
}

/* Petit écran */
@media all and (max-width: 500px) {
  .navigation {
  
  flex-direction: column;
  background: #373737;
  }
}

.F{
  margin-top: 0px;
}

.glyphicon-chevron-up{ 
  color: #F3330D
   ;
 }

p a {
  color: white;
}


/* Map Responsive */

.map-responsive{
overflow:hidden;
padding-bottom:56.25%;
position:relative;>
height:0;
 }

.map-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}


/*Qui sommes nous*/

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
    margin-top: 15px;
}


.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 90px;
    height: 90px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #EB5F1E;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 15px;
    line-height: 14px;
}



.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

/* 404 not found */

#error {
  margin: 0 auto;
  display: block;
}
